body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #124E78;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar .logo {
    text-align: center;
    padding: 20px;
}

.navbar .logo img {
    width: 80px;
    height: auto;
}

.navbar .logo h1 {
    font-size: 20px;
    margin: 10px 0 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
}

.profile-banner {
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #161616;
}

.profile-banner img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-banner .profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-banner .profile-info p {
    margin: 0;
    flex-grow: 1;
}

.settings-button img {
    width: 27px;
    height: 27px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

h2 {
    color: #333;
}

.settings-tab {
    position: fixed;
    top: 0;
    right: -400px; 
    width: 350px;
    height: 100%;
    background-color: #f4f4f4;
    border-left: 1px solid #ccc;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
}

.settings-tab.visible {
    right: 0;
}

.settings-tab .profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.settings-tab .profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.settings-tab .profile-section p {
    margin: 10px 0 20px;
    font-size: 18px;
}

.settings-tab .profile-section input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.settings-tab .profile-section button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.settings-tab .profile-section button:hover {
    background-color: #575757;
}

.settings-tab .logout-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #f28e03;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 37vh;
}

.settings-tab .logout-button:hover {
    background-color: #c0392b;
}

.settings-tab .suppri-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #f28e03;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.settings-tab .suppri-button:hover {
    background-color: #c0392b;
}

.sections-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section {
    width: 30%;
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.section h3 {
    margin-top: 6px;
    font-size: 22px;
}

.section ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.section ul li {
    margin-bottom: 20px;
    font-size: 18px;
}

.section button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #f28e03;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.section button:hover {
    background-color: #d47e06;
}

.calendar-section {
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    height: 500px;
}

.calendar-section h3 {
    margin-top: 6px;
    font-size: 22px;
}

.accueil {
    font-size: 30px;
    text-align: center;
}
